<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Devexpress" value="https://nuget.devexpress.com/n8FGZyGBinxJusWmxfxDq1RvVoei2aTNf9JgNgMPMMPs4TFpEA/api" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />        
        <add key="Colibri" value="http://nexus.ncrcolibri.com.br/nexus/repository/colibri-nuget" />
    </packageSources>
  <packageSourceCredentials>
    <Colibri>
        <add key="Username" value="nuget" />
        <add key="ClearTextPassword" value="Agile@1234" />
      </Colibri>
  </packageSourceCredentials>
</configuration>
